/* Supprime le décalage en haut */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* BACKGROUND */
body {
    background: url('/static/img/login-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

/* VOILE SOMBRE + BLUR GLOBAL */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.35);
    backdrop-filter: blur(5px);
    z-index: 0;
}

/* TITRE PRINCIPAL DE L’APPLICATION */
.app-title {
    font-size: 65px;
    font-weight: 900;
    color: white;
    text-shadow: 0 0 25px rgba(255,255,255,1);
    letter-spacing: 2px;

    margin-top: 40px;   /* TITRE DESCENDU */
    margin-bottom: -40px; /* Évite qu’il pousse le container vers le bas */

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;

    position: relative;
    z-index: 2;

    animation: fadeInDown 0.8s ease-out;
}

/* LOGO DU TITRE */
.app-title img {
    width: 70px;
    height: 70px;
    filter: drop-shadow(0 0 8px white);
}


/* ANIMATION DU TITRE */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* CARTE LOGIN */
.login-box {
    position: relative;
    z-index: 2;

    width: 380px;
    padding: 40px;
    margin-top: 130px;

    background: rgba(255,255,255,0.12);
    border-radius: 20px;

    backdrop-filter: blur(15px) brightness(1.12);
    -webkit-backdrop-filter: blur(15px) brightness(1.12);

    border: 1px solid rgba(255,255,255,0.35);
    box-shadow: 0 0 35px rgba(0,0,0,0.4);

    text-align: center;
    transition: 0.3s;
}

.login-box:hover {
    transform: scale(1.03);
}


/* INPUTS */
input {
    width: 100%;
    padding: 13px;
    border-radius: 10px;
    border: none;

    background: rgba(255,255,255,0.25);
    color: white;
    backdrop-filter: blur(5px);
}

input::placeholder {
    color: rgba(255,255,255,0.8);
}


/* BOUTONS */
button {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;

    background: rgba(0,123,255,0.45);
    color: white;
    border: 1px solid rgba(255,255,255,0.4);

    backdrop-filter: blur(10px);
    transition: 0.3s;
}

button:hover {
    transform: scale(1.08);
    background: rgba(0,123,255,0.65);
}


/* BOUTON CRÉER COMPTE */
.btn-create-account-link {
    background: linear-gradient(90deg, rgba(0,140,255,0.4), rgba(0,210,255,0.4));
    font-weight: 700;
}

.btn-create-account-link:hover {
    background: linear-gradient(90deg, rgba(0,140,255,0.6), rgba(0,210,255,0.6));
}
