<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Espace Employé</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/backgrounds.css">
</head>

<body class="page-bg" style="background-image: url('/static/img/bg-employe.jpg');">

<nav class="navbar navbar-dark bg-dark bg-opacity-75 px-4"
     style="position: fixed; top:0; left:0; width:100%; z-index: 10;">
    <span class="navbar-brand fw-bold">👷 Espace Employé</span>
    <a href="/logout" class="btn btn-danger fw-bold">Déconnexion</a>
</nav>

<div style="padding-top: 90px;"></div>

<div class="page-content">

    <h1 class="page-title">Interface Employé</h1>

    <div class="center-box">

        <h3 class="text-center mb-4">Vos tâches</h3>

        <div class="btn-container">
    <button class="btn btn-warning btn-big"
            onclick="window.location.href='/tournees'">
        Gestion des emplois du temps
    </button>

<button class="btn btn-warning btn-big"
        onclick="window.location.href='/problemes_carte'">
    Probleme carte interactives
</button>

    <button class="btn btn-warning btn-big">
        Tournées en cours
    </button>

    <button class="btn btn-warning btn-big">
        Reclamations
    </button>
</div>
