<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Points de Collecte</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
    <link rel="stylesheet" href="/static/css/map.css">

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>
    let userRole = "{{ role }}";   // admin, employe, chauffeur, client
</script>

</head>

<body>

<h2 class="page-title">🗺️ Gestion des Points de Collecte</h2>
<button class="btn btn-info fw-bold shadow px-4 py-2"
        style="margin-left: 20px; margin-bottom: 15px; font-size: 18px;"
        onclick="window.location.href='/points/table'">
    📄 Voir le tableau des points
</button>


<div id="points-table" style="width:90%; margin:auto; display:none;">
</div>


<div id="map"></div>

<script src="/static/js/map_points.js"></script>

</body>
</html>
